html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

a {
  text-decoration: none;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  display: none;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #9155fd;
}

.swal2-icon.swal2-success {
  border-color: #9155fd;
  color: #9155fd;
}

.modal-form {
  width: 90%;
}

@media (min-width: 400px) {
  .modal-form {
    width: 400px;
  }
}

@media (min-width: 650px) {
  .modal-form {
    width: 600px;
  }
}

@media (min-width: 1080px) {
  .modal-form {
    width: 800px;
  }
}

.modal {
  width: 90%;
}

@media (min-width: 400px) {
  .modal {
    width: 400px;
  }
}
